<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<style type="text/css">
		.jumbotron {
			background-color: #D0D3D4 ;
		}
	</style>
</head>
<body>
	<div class="jumbotron">
		<div class="progress" align="center">
		  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="28.6" aria-valuemin="0" aria-valuemax="50" style="width: 28.6%;"></div>
		</div>
		<div align="center">
			<form th:action="@{/pag2}" method="post">
				<p>
					<div class="form-group">
				      <label for="exampleSelect1"><h2>Cual es tu asignatura favorita?</h2></label>
				      <select class="form-control" name="asignatura" id="exampleSelect1">
						<option value="m"> Arte</option>
						<option value="h"> Ver la tele tumbado en el sofa</option>
						<option value="l"> Musica </option>
						<option value="b"> Ninguna paso de estudiar!</option> 
				      </select>
				    </div>
			    	<div>
						<button type="submit" class="btn btn-success">Siguiente</button>
					</div>
					<div>
						<form th:action="@{/destroy}" method="post">
						<input type="submit" value="Volver a inicio" />
						</form>
					</div>
			    </p>
			</form>	
		</div>
	</div>	
	<script src="/static/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>